* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }

  /* Navigation */
  nav {
    background-color: #333;
    color: #fff;
    padding: 1rem;
  }

  nav .site-title {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    text-align: left;
  }
  a {
    text-decoration: none;
    color: pink;
    font-weight: bold;
  }

  nav ul {
    list-style: none;
    text-align: center;
  }

  nav ul li {
    display: inline;
    margin-right: 1rem;
  }

  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
  }

  /* Content */
  .blogs.content {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
    
  }

  .content {

      width: 80vw;
      margin-inline: auto;
      margin-block: auto;
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  h3.title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  p.snippet {
    margin-bottom: 1.5rem;
  }

  /* Footer */
  footer {
    height: 5vh;
    margin-top: 20%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
  }
  form {
    max-width: 500px;
    margin: 5% auto;
  }

  label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }

  input[type="text"],
  textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  textarea {
    resize: vertical; /* Allow vertical resizing */
  }

  button {
    display: block;
    width: 100%;
    padding: 0.75rem;
    background-color: #007bff; /* Blue */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  button:hover {
    background-color: #0056b3; /* Darker blue */
  }

  .details {
    margin-top: 20px;
}

.details h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* .details .content {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
} */

.details .content p {
    font-size: 16px;
}

.delete {
    display: inline-block;
    background-color: #c0392b;
    color: #fff;
    margin-top: 10px;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
}

.delete:hover {
    background-color: #e74c3c;
    cursor: pointer;
}